:root {
  --white-color: #ffffff;
  --grey-color: #757575;
  --blue-color: #2196f3;
  --black-text: #212121;
  --black-back: #2f303a;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--white-color);
  font-family: 14px;
  cursor: pointer;
  margin: 0 auto;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0, auto;
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}

/*-------HEADER-------*/

.header {
  text-decoration: none;
  background: var(--white-color);
  align-items: center;
  margin-left: auto;
}
.header .container {
  display: flex;
}

.header-contact {
  display: flex;
  margin-left: auto;
  margin-top: 32px;
}

.header-logo-text {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--blue-color);
  margin-top: 25px;
  margin-right: 70px;
}

.studio-style {
  color: var(--black-text);
}
.header-list {
  display: flex;
  margin-top: 32px;
}

.header-item:not(:last-child) {
  margin-right: 50px;
}
.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: var(--black-back);
}

.header-link:hover,
.header-link:focus {
  color: var(--blue-color);
}
.header-conect {
  margin-left: auto;
}
.header-mail {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: var(--grey-color);
  padding-right: 50px;
}

.header-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: var(--grey-color);
}

.header-tel:hover,
.header-tel:focus {
  color: var(--blue-color);
}
.header-mail:hover,
.header-mail:focus {
  color: var(--blue-color);
}
/*----------MAIN---------*/

.main-text-section {
  background: var(--black-back);
  text-align: center;
  height: 600px;
}
.main-element {
  margin-top: 0px;
  margin-bottom: 0px;
}
.main-text {
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
  max-width: 696px;
  padding-top: 200px;
  margin: 0 auto;
}
.main-click {
  padding-top: 20px;
}
.mail-btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  color: var(--white-color);
  background-color: var(--blue-color);
  cursor: pointer;
  border: none;
  border-radius: 4px;

  width: 200px;
  height: 50px;
}
.mail-btn:hover,
.mail-btn:focus {
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
/* -----ABOUT-----*/

.about-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--black-text);
  margin-top: 0px;
  margin-bottom: 30px;
}
.about-list {
  display: flex;
  margin-top: 0px;
  margin-bottom: 0px;
}

.about-title-one {
  max-width: 270px;
  padding-top: 94px;
}
.about-title-one:not(:last-child) {
  margin-right: 30px;
}
.about {
  background-color: #ffffff;
}
.about-bottom-text {
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.03em;
  margin-top: 0px;
  margin-bottom: 0px;

  color: var(--grey-color);
}

/*----------WORK-SECTION---------*/
.work-flex {
  display: flex;

  margin-bottom: 94px;
}
.side-text {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  padding-bottom: 50px;
  padding-top: 94px;
  margin-bottom: 0px;
}

.work-img:not(:last-child) {
  margin-right: 30px;
}

/*-------MASTERS-------*/
.prof {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--grey-color);
  text-align: center;
  padding-top: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.master-section {
  background: #f5f4fa;
}
.masters-flex {
  display: flex;
  margin-top: 0px;
  margin-bottom: 0px;
}
.masters {
  background: #ffffff;
  margin-bottom: 94px;
  padding-bottom: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.masters:not(:last-child) {
  margin-right: 30px;
}
.name {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: #212121;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 30px;
}

/*-----FOOTER-----*/

.footer-list {
  margin-top: 20px;
  margin-bottom: 0px;
  padding-left: 0px;
}
.footer-logo-text {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--blue-color);
}
.footer-address {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--white-color);
  font-style: normal;
}
.footer-address:hover,
.footer-address:focus {
  color: var(--blue-color);
}
.footer-contacts:hover,
.footer-contacts:focus {
  color: var(--blue-color);
}

.footer-contacts {
  font-weight: 400;
  font-size: 14px;
  line-height: 2;
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  margin-top: 9px;
}
.footer-down {
  background: var(--black-back);
  height: 252px;
  width: auto;
  align-items: center;
  margin-left: auto;
}
.footer-content {
  padding-top: 50px;
}
.footer_style {
  color: #ffffff;
}
/*--------GALLERY-------*/
.urll {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  display: flex;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
}
.url-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--black-text);
  background: #f5f4fa;
  border-radius: 4px;
  margin-right: 22px;
}

.url-button:focus,
.url-button:hover {
  color: #ffffff;
  background-color: var(--blue-color);
}
.company-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}
.work {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--grey-color);
}
